body {
    margin:2rem;
    background: #000;
    color: #fff;
    max-width: 100%;
}

.modal-dialog {
      max-width: 1000px;
      margin: 30px auto;
  }

.modal-body {
  position:relative;
  padding:0px;
}
.close {
  position:absolute;
  right:-30px;
  top:0;
  z-index:999;
  font-size:2rem;
  font-weight: normal;
  color:#fff;
  opacity:1;
}

.encabezado {
  align-items: center;
  background-color: #000;
}

.logo {
  max-width: 70%;
  height: auto;
}

.titulo {
    color: #fff;
    font-family:'Fjalla One', sans-serif;
    font-size:xx-large;
    text-align: left;
}


.subtitulo {
  color: white;
  margin: auto;
  font-size: medium;
  text-align: left;
  padding: 0%;
  margin: 0%;
}


.name_short {
  color: #fff;
  font-family: Helvetica, sans-serif;
  margin-top: 10px;
  font-size: 100%;
  margin-bottom: 5px;
}

.director {
  color: #fff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 70%;
  margin-bottom: 20px;
}

.reproducir {
    background-color: #FF005C;
    color: white;
    text-align: center;
    display:inline-block;
    text-decoration:none;
    cursor:pointer;
    font-family:Helvetica,Arial,sans-serif;
    font-size:16px;
    line-height:40px;
    text-align:center;
    margin:0;
    height:60px;
    padding:0px 10px;
    border-radius:20px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    font-weight:bold;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

.votar {
    background-color: #00B1FF;
    color: black;
    text-align: center;
}

.poster {
    background-color: #fff;
}

.typeform-share {
    display:inline-block;
    text-decoration:none;
    background-color:#ffb800;
    color:white;
    cursor:pointer;
    font-family:Helvetica,Arial,sans-serif;
    font-size:16px;
    line-height:40px;
    text-align:center;
    margin:0;
    height:40px;
    padding:0px 40px;
    border-radius:0px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    font-weight:bold;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

a:link {
    color:white;
    text-decoration:none;
}

a:visited {
  color:white;
  text-decoration:none;
}

a:active {
  color:white;
  text-decoration:none;
}


.image {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    max-width: 100%;
    max-height: 100%;
  }

  .ficha {
    margin: 0%;
    padding: 0%;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .caratula:hover .image {
    opacity: 0.2;
  }
  
  .caratula:hover .middle {
    opacity: 1;
  }

  .caratula {
    position: relative;
    background-color: black;
    margin: 0%;
    padding: 0%;
  }

  .playlist {
    height: 100%;
    background-image: url(img/patreon.jpg);
    background-size: cover;
    background-position: center;
    align-items: center;
    
  }

  .playlist:hover {
    background-color: black;
  }

  .playlist_2 {
    color: cornsilk;
    font-size: 30px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
  }

  
  .seleccion {
    background-color: black;
    margin: 0%;
  }


  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .encabezado {width: 60%;}
    .playlist {max-height: 80%; width: auto;}
    .logo_f {width: 5%;}
    .seleccion {padding: 2% 10% 2% 10%}
  }

  @media only screen and (max-width: 768px) {
    .titulo {text-align: center;
    margin-top: 20px;}
    .subtitulo {text-align: center;
      }
    .playlist_2 {font-size: 80%;}
    .name_short {font-size: 90%;}
    .director {font-size: 80% ;}
    .text_footer{font-size: 60%;}
    .modal-dialog {margin-top: 30%;}
  }


  .footer {
    background-color: #2d2d2d;
  }
  .fa {
    padding: 10px;
    font-size: 100%;
    width: auto;
    color: #fff;
  }

  .logo_f {
    background-image: url(img/festival.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .text_footer {
    font-size: 12px;
    margin: 0px;
  }
